    <head>
   		<meta name="apple-mobile-web-app-title" content="Creating Conversation">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      
      <meta property="og:url"           		content="http://creatingconvo.com/creatingconversation" />
    	<meta property="og:type"          		content="video" />
	    <meta property="og:title"         		content="Creating Conversation" />
	    <meta property="og:description"   		content="Creating Conversation Media Hub. Watch our latest episode and join in on our conversations." />
	    <meta property="og:image"         		content="http://creatingconvo.com/bgs/logosquare.jpg" />
    
      <base href="/">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="apple-touch-icon" href="bgs/logosquare.jpg">
      <link rel="apple-touch-startup-image" href="bgs/ccFlyerTall.jpg">
      <link rel="shortcut icon" href="icons/favicon.ico" >
   		<link rel="icon" type="image/gif" href="icons/animated_favicon1.gif" >
   </head>
   <body ng-app="interviews" layout="column" ng-controller="AppCtrl">
      <script>
      window.fbAsyncInit = function() {
    	    FB.init({
    	      appId      : '702408083222716',
    	      xfbml      : true,
    	      version    : 'v2.5'
    	    });
    	  };

    	  (function(d, s, id){
    	     var js, fjs = d.getElementsByTagName(s)[0];
    	     if (d.getElementById(id)) {return;}
    	     js = d.createElement(s); js.id = id;
    	     js.src = "//connect.facebook.net/en_US/sdk.js";
    	     fjs.parentNode.insertBefore(js, fjs);
    	   }(document, 'script', 'facebook-jssdk'));

         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				
				  ga('create', 'UA-68377794-1', 'auto');
				  ga('send', 'pageview');
				
			</script>
      <div id="tb-main" class="tb-main md-whiteframe-z1" layout="row" layout-align="start center">
         <div class="md-toolbar-tools">
            <md-button id="tb-menu" ng-click="toggleLeft()" hide-gt-md>
            </md-button>
            <h4><a href="/home">Creating Conversation</a></h4>
            <span flex></span>
            <md-button ng-controller="AboutCtrl" ng-click="showAdvanced($event)" class="md-fab" id="tb-logo" ></md-button>
         </div>
      </div>
      <!-- need view to span even if only toolbar -->
      <div layout="row" flex>
         <md-sidenav id="tb-alt" md-swipe-left="close();" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar id="tb-alt" md-scroll-shrink>
               <div hide-gt-md class="md-toolbar-tools">
                  <h1 class="md-toolbar-tools">Menu</h1>
                  <span flex></span>
                  <md-button ng-controller="AboutCtrl" ng-click="toggleLeft()" class="md-fab" >
                     <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                  </md-button>
               </div>
               <p layout-padding class="md-title" style="color:white;font-weight:bold;">
                  <blaze-template name="loginButtons"></blaze-template>
               </p>
            </md-toolbar>
            <md-content id="left-nav" md-scroll-y ng-controller="LeftCtrl" >
               <md-list layout-align="start center">
                  <md-item>
                     <md-button style="color:#000066;" class="md-raised" layout-fill ng-click="close();go('/home/')">
                        <div class="md-display-1">
                           Home
                        </div>
                     </md-button>
                  </md-item>
                  <md-divider ng-if="!$last"></md-divider>
                  <md-item class="md-1-line">
                     <md-button style="color:#000066;" class="md-raised" layout-fill ng-click="close();go('/conversations')">
                        <div class="md-display-1">
                           Episodes
                        </div>
                     </md-button>
                  </md-item>
                  <md-divider ng-if="!$last"></md-divider>
                  <md-item class="md-1-line">
                     <md-button style="color:#000066;" class="md-raised" layout-fill ng-click="close();go('/gallery')">
                        <div class="md-display-1">
                           Gallery
                        </div>
                     </md-button>
                  </md-item>
                  <md-divider ng-if="!$last"></md-divider>
                  <md-item class="md-1-line">
                     <md-button style="color:#000066;" class="md-raised" layout-fill ng-click="close();go('/profiles')">
                        <div class="md-display-1">
                           The Crew
                        </div>
                     </md-button>
                  </md-item>
                  <md-divider ng-if="!$last"></md-divider>
                  <md-item class="md-1-line">
                     <md-button style="color:#000066;" class="md-raised" layout-fill ng-click="close();go('/about')">
                        <div class="md-display-1">
                           About
                        </div>
                     </md-button>
                  </md-item>
                  <!-- 
                     <p hide-md show-gt-md>
                      This sidenav is locked open on your device. To go back to the default behavior,
                      narrow your display.
                     </p>
                     -->
               </md-list>
            </md-content>
         </md-sidenav>
         <md-content flex md-scroll-y style="background-size:cover;background-image:url('http://img10.deviantart.net/41e7/i/2008/310/5/c/icey_blue_cement_scratches_by_dyingbeautystock.jpg');" id="ccContent">
            <div flex ng-controller="gc" ui-view></div>
            <div class="md-whiteframe-z2" ng-style="{'padding-top':'.5em','pading-bottom':'.5em','background-image': 'url(' + getMRBanner() + ')', 'background-repeat': 'no-repeat', 'background-size' : 'cover', 'background-position': 'center', 'text-align' : 'center', 'color':'white', 'min-height' : '50px','height' : '50px', 'background-color' : '#444444', 'margin-top' : '1em'}">
               <h2>MEDIA REIGN LLC.</h2>
            </div>
         </md-content>
         <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-lg')">
            <md-toolbar id="tb-main">
               <h1 class="md-toolbar-tools">Ad Space</h1>
            </md-toolbar>
            <md-list>
            	<md-item>
		            <md-item-content ng-controller="RightCtrl" layout-padding>
		               <h3>
		               	Place Your Ad Today
		               <br/> 
		               	<a href="mailto:mediareignllc@gmail.com">MediaReign</a>
		               </h3>
		            </md-item-content>
            	</md-item>
            </md-list>
         </md-sidenav>
      </div>
   </body>
