<md-dialog style="width:80%" aria-label="Add New Profile">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Add New Profile</md-subheader>
		<md-input-container style="width:80%">
		  <label>First Name</label>
		  <input required ng-model="newProfile.firstName">
    </md-input-container>
		<md-input-container style="width:80%">
		  <label>Last Name</label>
		  <input required ng-model="newProfile.lastName">
    </md-input-container>
    <md-input-container style="width:80%">
		  <label>Team Roles</label>
		  <input required ng-model="newProfile.teamRoles">
    </md-input-container>
	  <md-input-container style="width:80%">
		  <label>Contact Email</label>
		  <input type="email" required ng-model="newProfile.contactEmail">
	  </md-input-container>
    <md-input-container style="width:80%">
    	<label>Personal Url</label>
    	<input required ng-model="newProfile.link">
    </md-input-container>
    <md-input-container style="width:100%">
    	<label>Bio</label>
    	<textarea required ng-model="newProfile.bio"></textarea>
    </md-input-container>
	  <div layout layout-sm="column">
	  	<md-input-container flex>
			  <label>Public</label>
			  <input type="checkbox" ng-model="newProfile.public" ng-init="newProfile.public=true">
		  </md-input-container>
	  </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()" class="md-primary">
    	Cancel
    </md-button>
    <span flex></span>
    <md-button ng-click="newProfile.owner=$root.currentUser._id;answer(newProfile)" class="md-primary">
      Save
    </md-button>
  </div>
  </form>
</md-dialog>