<img src="bgs/crew_banner.jpg" style="width:100%" class="md-whiteframe-z1">
<md-button ng-show="showAdd()" class="md-fab md-primary md-hue-2 add-fab" ng-click="showAdvanced($event)">
	<md-icon md-svg-src="/icons/svg/add_white_24px.svg"></md-icon>
</md-button>
<md-grid-list style="width:100%" md-cols-sm="2" md-cols-md="3" md-cols-gt-lg="4" md-row-height="2:3" md-gutter=".25em" md-gutter-gt-sm="1em">
<md-subheader flex ><span class="md-headline">The Crew</span></md-subheader>
   <md-grid-tile ng-repeat="profile in profiles | reverse">
     <md-grid-tile-header>
       <h3>{{profile.firstName + ' ' + profile.lastName}}</h3>
     </md-grid-tile-header>
     <div layout="column" layout-fill>
	     <div style="margin-top:75px;margin-bottom:75px;" flex ng-style="{'background-image':'url(profileImages/' + profile.firstName + '_' + profile.lastName + '_headshot1.jpg)'}" class="circular">
     </div>
     <div class="md-actions" layout="column" layout-align="end center" ng-show="($root.currentUser && $root.currentUser._id == profile.owner)||(isAdmin())">
	    	<md-button class="md-raised" style="position:absolute;top:40px;left:1em;" ng-click='go("/profiles/edit/" + profile._id)' >Edit</md-button>
	    	<span flex></span>
				<md-button class="md-raised" style="position:absolute;bottom:40px;right:1em;" ng-click="remove(profile)" >Remove</md-button>
     </div>
     </div>
     <md-grid-tile-footer>
       <h3>Team Roles: {{profile.teamRoles}}</h3>
     </md-grid-tile-footer>
   </md-grid-tile>
  </md-grid-list>
  
  <!-- 
  <md-card style="background-color:#EEEEEE; border-style:solid; border-color:#E0E0E0;">
    <md-card-content class="basecard" ng-click='go("/profiles/" + profile._id)'>
      <div class="profileTitle">
      	<h1 class="md-title">{{profile.firstName + ' ' + profile.lastName}}</h1>
      </div>
      <div ng-style="{'background-image':'url(profileImages/' + profile.firstName + '_' + profile.lastName + '_headshot1.jpg)'}" class="circular"></div>
		<div>
		  <div style="padding-left:1em;paddin-right:1em;font-style:italic;" >
        <h5 class="md-caption">Contact Email: {{profile.contactEmail}}</h5>
        <h5 class="md-caption">Personal Site: <a href="{{profile.link}}">{{profile.link}}</a></h5>
			</div>        
	  </div>
      <md-divider md-inset></md-divider>
      <div>
		  <div style="margin-left:1em;margin-right:1em;">
        <h3 class="md-subhead">Team Roles: {{profile.teamRoles}}</h3>
			</div>        
	  </div>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center" ng-show="($root.currentUser && $root.currentUser._id == profile.owner)||(isAdmin())">
    	<md-button ng-click='go("/profiles/edit/" + profile._id)' >Edit</md-button>
    	<span flex></span>
			<md-button ng-click="remove(profile)" >Remove</md-button>
    </div>
  </md-card>
  -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>