.basecard {
	padding:0px;
}
.t-alt{
	font-size:larger;
	color:red;
}
.main-content{
	text-align:left;
	border-radius:.3em;
	color:#2e337c;
	background-color:#EBFAFF;
}

#angular-google-map-container {
    height: 400px;
    width: 400px;
}
.main-title{
	text-align:center;
}
.profileTitle {
	text-align:center;
}
#content-alt-1{
	background-color:#66CCFF;
}
#content-alt-2 {
	background-color:#EEEEEE;
}
#tb-main{
	background-color:#FF9900;
	color:white;
	height:50px;
}
#tb-alt{
	background-color:#001A4C;
}
#tb-logo {
	width:45px;
	height:45px;
	min-width:45px;
	min-height:45px;
	background-size:contain;
	background-repeat:no-repeat;
	background-image:url('bgs/logosquare.jpg');
}
#tb-menu {
	width:45px;
	height:45px;
	min-width:45px;
	min-height:45px;
	background-size:contain;
	background-repeat:no-repeat;
	background-image:url('icons/svg/menu_white_24px.svg');
	padding:15px;
	text-align:center;
}
#md-title{
	text-align:center;
}
temp{
	background-color:#FF0000;
	background-image:url('icons/svg/dropdown_white.svg');
	background-image:url('bgs/bluesquare.bmp');
}
	
#left-nav{
	background-color:#FF9900;
}
hr.style-two {
	padding: 0;
	border: none;
	border-top: medium double #fff;
	color: #fff;
	text-align: center;
}
hr.style-four {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.blogImg{
	width:1em;
}
.circular {
	width: 70%;
	height: 50%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	background-size:cover;
	background-repeat:no-repeat;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.add-fab {
	position:fixed;
	right: 20%;
	bottom: 40px;
	z-index:100;
}
.edit-fab {
	position:fixed;
	left: 20%;
	bottom: 40px;
	z-index:100;
	background-color:green;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif;
}
.tabshomeDynamicHeight md-content {
	background-color: transparent !important; 
}
.tabshomeDynamicHeight md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1; 
}
.tabshomeDynamicHeight md-content md-tabs md-tabs-canvas {
	background: white; 
}
.tabshomeDynamicHeight md-content h1:first-child {
	margin-top: 0;
}
.gridListdemoBasicUsage md-grid-list {
  margin: 4px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }