<md-content layout-padding>
<section>
<md-card>
  <md-subheader class="md-primary"><h2 class="md-title">Edit Post</h2></md-subheader>
	<form>
		<div layout layout-sm="column">
			<md-input-container style="width:70%">
			  <label>Name</label>
			  <input required ng-model="blog.name">
	    </md-input-container>
	    <md-input-container flex>
	      <label>Submission Date</label>
	      <input type="date" ng-model="blog.date">
	    </md-input-container>
		</div>
    <md-input-container style="width:80%">
    	<label>Video Url</label>
    	<input required ng-model="blog.link">
    </md-input-container>
	  <md-input-container style="width:100%">
		  <label>Description</label>
		  <pre><textarea required ng-model="blog.description"></textarea></pre>
	  </md-input-container>
	  <div layout layout-sm="column">
	  	<md-input-container flex>
			  <label>Public</label>
			  <input type="checkbox" ng-model="blog.public">
		  </md-input-container>
		  <md-input-container flex>
		  	<md-button class="md-raised" ng-click='save(); go("/conversations")'>Save</md-button>
				<md-button class="md-raised" ng-click="reset()">Reset form</md-button>
				<md-button class="md-raised" ng-click='go("/conversations")'>Cancel</md-button>
	  	</md-input-container>
	  </div>
	</form>
</md-card>
</section>
</md-content>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>