<md-button ng-show="showAdd()" class="md-fab md-primary md-hue-2 add-fab " ng-click="showAdvanced($event)">
	<md-icon md-svg-src="/icons/svg/add_white_24px.svg"></md-icon>
</md-button>
<md-list md-no-ink style="background-color:transparent">
  <md-card ng-click='go("/conversations/" + blog._id)' ng-repeat="blog in blogs">
  <list-item>
	<md-subheader flex><span class="md-title"><div class="md-title" style="white-space: nowrap;overflow:hidden;text-overflow: ellipsis;">{{blog.name}}</div></span></md-subheader>
    <!-- 
    <img ng-src="{{getAvatarImgUrl()}}" style="height:100px;" class="md-card-image">
     -->
    <md-card-content>
     	<div ng-style="avatarstyle(blog)"></div>
      <p layout-padding style="max-height:5em;overflow:hidden;">{{blog.description}}</p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center" ng-show="($root.currentUser && $root.currentUser._id == profile.owner)||(isAdmin())">
			<md-button class="md-raised" ng-click='remove(blog)' >Remove</md-button>
      <md-button class="md-raised" ng-click='go("/conversations/edit/" + blog._id)' >Edit</md-button>
    </div>
    </list-item>
  </md-card>
	<!-- 
	<md-list-item ng-click='go("/conversations/" + blog._id)' class="md-3-line" ng-repeat="blog in blogs">
		<div layout="row" layout-fill>
			<div flex="100">
				<div ng-style="avatarstyle" class="videoWrapper">
  			</div>
			</div>
		  <div class="md-list-item-text" flex="100">
		    <h3 class="md-title" style="white-space: nowrap;overflow:hidden;text-overflow: ellipsis;">{{ blog.name }}</h3>
		    <h4>{{ blog.date | date : format : mediumDate}}</h4>
		    <p class="md-body-1" style="max-height:5em;overflow:hidden;">{{ blog.description }}</p>
		    <div class="md-actions" style="position:relative;bottom:0px;" layout="row" layout-align="end center" ng-show="($root.currentUser && $root.currentUser._id == profile.owner)||(isAdmin())">
		    	<md-button class="md-raised" ng-click='go("/conversations/edit/" + blog._id)' >Edit</md-button>
		    	<span flex></span>
					<md-button class="md-raised" ng-click='remove(blog)' >Remove</md-button>
		    </div>
		  </div>
		  </div>
		<md-divider ng-if="!$last"></md-divider>
	</md-list-item>
	 -->
</md-list>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>