<section>
<div layout-margin style="color:#00003D;" layout="column">
  <div flex class="md-whiteframe-z3">
	  <div class="videoWrapper">
    	<iframe id='iframe1' width='560' height='315' ng-src="{{trustSrc(mainurl)}}" frameborder='0' allowfullscreen></iframe>
  	</div>
  </div>
  <div flex layout="row" layout-align="start center">
	  <div class="fb-share-button" data-href="http://creatingconvo.com" data-layout="button_count"></div>
	  <div flex></div>
	  <div class="fb-like" data-href="http://creatingconvo.com" data-layout="button_count" data-action="like" data-show-faces="true"></div>
  </div>
   	<div flex layout-padding md-border-bottom class="main-content md-whiteframe-z1">
	    <div layout-padding class="md-padding md-whiteframe-z1" style="border-radius:.3em;">
		   	<h2 class="md-headline" style="text-align:center;font-weight:bold">
		   		What changes would you like to see in your community, why do you want these changes, and who would these changes affect the most?
		   	</h2>
		   	<hr class="style-two">
		   	<div style="background-color:white;border-radius:.5em;" class="md-whiteframe-z1" layout
		             layout-align="center center">
		      <div style="width:100%;text-align:center;color:red;font-weight:bold;" 
		      ng-click="openLeft()"
		      ng-hide="$root.currentUser || $root.loggingIn">
		      Sign in/up to leave a comment!<br/>(PRESS MENU BUTTON)</div>
		      <form flex name="cForm">
		      <div flex layout="row" layout-align="center end" ng-show="$root.currentUser || $root.loggingIn">
			      <md-input-container style="width:70%;">
			      	<pre><textarea style="width:100%" name="text" ng-model="newComment.text" ng-minlength="1" maxlength="1600" ng-maxlength="1600" required md-maxlength="1600">
			      	</textarea></pre>
			     	</md-input-container>
			     	<md-input-container style="width:25%;">
			      	<md-button ng-disabled="cForm.$invalid" class="md-hue-2 md-primary" 
			      	ng-click="addComment(newComment, $root)" aria-label="addComment">
			      	<md-icon md-svg-src="/icons/svg/add_black_24px.svg"></md-icon></md-button>
			     	</md-input-container>
			    </div>
		      </form>
				</div>
			</div>
		</div>
		<div flex md-border-bottom class="main-content md-whiteframe-z1">
			<div ng-controller="CommentsListCtrl"
					 dir-paginate="comment in comments | itemsPerPage: perPage | reverse"
	         total-items="commentsCount.count" layout="column" >
		    <div layout-margin layout-padding class="md-whiteframe-z1" style="border-radius:.125em;background-color:#DEF1FD;">
					<hr>
					<div class="md-caption" layout="row" style="font-weight:bold;" layout-align="start center">{{ creator(comment) | displayName }}</div>
					<pre><div class="md-subhead" >{{comment.text}}</div></pre>
					<div class="md-caption" layout="row" layout-align="end center">
						<md-button flex="30" ng-click="likeComment(comment, $root)"
						aria-label="likeComment">
						<md-icon ng-show="comment.likeCount == 0" md-svg-src="/icons/svg/favorite_border_black_18px.svg"></md-icon>
						<md-icon ng-show="comment.likeCount > 0" md-svg-src="/icons/svg/favorite_black_18px.svg"></md-icon>
						({{comment.likeCount}})
						</md-button>
						<div flex></div>
						<div flex>{{comment.date | date : format : fulldate}}</div>
					</div>
					<hr>
					<div layout="row" layout-align="space-around center">
						<md-button class="md-raised"
		    					 ng-click="remove(comment)"
		               ng-show="showAdd()"
		               aria-label="removeComment">
		         <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
		       </md-button>
					</div>
				</div>
       <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
	   </div>
  </div>

		<div flex class="gridList" style="margin-top:1em;">
		  <md-grid-list md-cols-sm="1" md-cols-gt-sm="2" md-row-height="9:4" md-row-height-sm="2:1" md-gutter="1em">
		    <md-grid-tile class="md-whiteframe-z3" style="background-color:#FF3300;">
					<div flex layout-fill layout="column" layout-padding style="opacity: 0.75;color:white;text-align:center;background-size:contain;background-repeat:no-repeat;	background-image:url('icons/svg/ic_local_movies_black_48px.svg');" ng-click="go('/conversations')">
						<h2 class="md-display-1">View More Episodes</h2>
					</div>
		    </md-grid-tile>
		    <md-grid-tile class="md-whiteframe-z3" style="background-color:#669999;">
					<div flex layout-fill layout="column" layout-padding style="opacity: 0.75;color:white;text-align:center;background-size:contain;background-repeat:no-repeat;	background-image:url('icons/svg/ic_group_black_48px.svg');" ng-click="go('/profiles')">
						<h2 class="md-display-1">Meet the Crew</h2>
					</div>
		    </md-grid-tile>
		  </md-grid-list>
		</div>
	</div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>