<md-dialog style="width:80%" aria-label="Add New Video Post">
  <form>
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Add New Video Post</md-subheader>
		<div layout layout-sm="column">
			<md-input-container style="width:70%">
			  <label>Name</label>
			  <input name="name" ng-model="newBlog.name" required md-maxlength="64">
	    </md-input-container>
	    <md-input-container flex>
	      <label>Submission Date</label>
			  <input type="date" name="date" ng-model="newBlog.date" ng-init="newBlog.date = Date" required>
	      <!-- 
	      <md-datepicker ng-model="newBlog.date" ng-init="newBlog.date = Date"></md-datepicker>
	       -->
	    </md-input-container>
		</div>
    <md-input-container style="width:80%">
    	<label>Video Url</label>
    	<!-- 
    	Type:
    	<md-select ng-model="ctrl.userState">
          <md-option ng-repeat="byt in blogUrlTypes" value="{{byt}}">{{state.abbrev}}</md-option>
       </md-select><br/> -->
    	<input name="description" ng-model="newBlog.link" required md-maxlength="132">
    </md-input-container>
	  <md-input-container style="width:80%">
		  <label>Description</label>
		  <pre>
		  	<textarea style="width:100%" name="description" ng-model="newBlog.description" required md-maxlength="2500">
				</textarea>
			</pre>
	  </md-input-container>
	  <div layout layout-sm="column">
	  	<md-input-container flex>
			  <label>Public</label>
			  <input type="checkbox" ng-model="newBlog.public" ng-init="newBlog.public=true">
		  </md-input-container>
	  </div>
	  <div layout layout-sm="column">
	  	<label>Preview:</label>
		  <md-input-container flex style="width:100%">
		  	<iframe id='iframe1' width='100%' height='315' ng-src="{{trustSrc(newBlog.link)}}" frameborder='0' allowfullscreen onLoad="autoResize('iframe1')"></iframe>
	  	</md-input-container>
	  </div>
  </md-dialog-content>
  </form>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
    	Cancel
    </md-button>
    <md-button ng-click="newBlog.owner=$root.currentUser._id;answer(newBlog)" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>