<md-content layout-padding>
<section>
<md-card>
  <md-subheader class="md-primary"><h2 class="md-title">Edit Profile</h2></md-subheader>
	<form>
		<div layout layout-sm="column" layout-gt-sm="row">
			<md-input-container flex>
			  <label>First Name</label>
			  <input required ng-model="profile.firstName">
	    </md-input-container>
			<md-input-container flex>
			  <label>Last Name</label>
			  <input required ng-model="profile.lastName">
	    </md-input-container>
		</div>
		<md-input-container style="width:80%">
		  <label>Team Roles</label>
		  <input required ng-model="profile.teamRoles">
    </md-input-container>
	  <md-input-container style="width:80%">
		  <label>Contact Email</label>
		  <input type="email" required ng-model="profile.contactEmail">
	  </md-input-container>
    <md-input-container style="width:80%">
    	<label>Personal Url</label>
    	<input required ng-model="profile.link">
    </md-input-container>
    <md-input-container style="width:80%">
    	<label>Bio</label>
    	<input required ng-model="profile.bio">
    </md-input-container>
	  <div layout layout-sm="column">
	  	<md-input-container flex>
			  <label>Public</label>
			  <input type="checkbox" ng-model="profile.public">
		  </md-input-container>
		  <md-input-container flex>
		  	<button ng-click='save(); go("/profiles")'>Save</button>
				<button ng-click="reset()">Reset form</button>
				<button><a href="/profiles">Cancel</a></button>
	  	</md-input-container>
	  </div>
	</form>
</md-card>
</section>
</md-content>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>