<div flex>
  <md-whiteframe class="md-whiteframe-z3" id="content-alt-1" layout="column">
    <md-whiteframe class="md-whiteframe-z5" layout
                   layout-align="center center"
                   ng-hide="$root.currentUser || $root.loggingIn">
      <span>Log in to create a party!</span>
    </md-whiteframe>
    <form ng-show="$root.currentUser">
      <h2 class="md-headline">Create a new party:</h2>
      <md-input-container>
        <label>Name</label>
        <input ng-model="newParty.name" id="nameInput"
               type="text" aria-label="Name">
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <input ng-model="newParty.description" id="description"
               type="text" aria-label="Description">
      </md-input-container>
      <md-checkbox ng-model="newParty.public"
                   id="public" aria-label="Public">
        Public
      </md-checkbox>
      <md-button ng-click="newParty.owner=$root.currentUser._id;parties.push(newParty); newParty='';">
        Add</md-button>
    </form>
  </md-whiteframe>
 
  <div flex layout-padding layout="column">
    <h2 class="md-headline">Parties:</h2>
    <form layout="row">
      <md-input-container md-no-float>
        <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
        <input type="text" ng-model="search" id="search"
               placeholder="Search" aria-label="Search">
      </md-input-container>
      <span flex></span>
      <md-input-container>
        <md-select ng-model="orderProperty" placeholder="Sort Order">
          <md-option value="1">Ascending</md-option>
          <md-option value="-1">Descending</md-option>
        </md-select>
      </md-input-container>
    </form>
    <div layout-padding layout="row">
      <div flex></div>
      <div flex="60" class="angular-google-map-container">
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
          <ui-gmap-markers models="parties" coords="'location'" click="onClicked()"
                           fit="true" idkey="'_id'" doRebuildAll="true">
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
      <div flex></div>
    </div>
  </div>
  <div layout="column" layout-padding>
    <div dir-paginate="party in parties | itemsPerPage: perPage"
         total-items="partiesCount.count" layout="column">
      <div layout="row">
        <div flex="80">
          <h2><a href="/parties/{{party._id}}">{{party.name}}</a></h2>
          <p>{{party.description}}</p>
        </div>
        <span flex></span>
        <md-button class="md-raised"
        					 ng-click="remove(party)"
                   ng-show="$root.currentUser && $root.currentUser._id == party.owner">
          <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
        </md-button>
      </div>
 
      <div ng-show="$root.currentUser" layout="row">
        <md-button class="md-raised" ng-click="rsvp(party._id, 'yes')">I'm going!</md-button>
        <md-button class="md-raised" ng-click="rsvp(party._id, 'maybe')">Maybe</md-button>
        <md-button class="md-raised" ng-click="rsvp(party._id, 'no')">No</md-button>
      </div>
      <div ng-if="party.public">
        Everyone is invited
      </div>
      <div ng-hide="$root.currentUser">
        <i>Sign in to RSVP for this party.</i>
      </div>
 
      <div>
        <strong>Who is coming:</strong>
        Yes - {{ (party.rsvps | filter:{rsvp:'yes'}).length }}
        Maybe - {{ (party.rsvps | filter:{rsvp:'maybe'}).length }}
        No - {{ (party.rsvps | filter:{rsvp:'no'}).length }}
        <div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'yes'}">
          {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
        </div>
        <div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'maybe'}">
          {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
        </div>
        <div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'no'}">
          {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
        </div>
      </div>
      <md-list ng-if="!party.public">
        Users who haven't responded:
        <md-list-item ng-repeat="invitedUser in outstandingInvitations(party)">
          {{ invitedUser | displayName }}
        </md-list-item>
      </md-list>
      <p><small>Posted by {{ creator(party) | displayName }}</small></p>
    </div>
  </div>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>