<p>Here you will see and change the details of the party:</p>

<input ng-model="party.name" ng-disabled="party.owner != $root.currentUser._id"><br/>
<input ng-model="party.description" ng-disabled="party.owner != $root.currentUser._id"><br/>
<label>Is public</label>
<input type="checkbox" ng-model="party.public" ng-disabled="party.owner != $root.currentUser._id">

<div style="height:300px;width:300px;" class="party-details-maps">
  <div style="height:300px;width:300px;" class="angular-google-map-container">
    <ui-gmap-google-map style="height:300px;width:300px;" center="party.location || map.center"
                        events="map.events" zoom="map.zoom">
	      <ui-gmap-marker coords="party.location" options="map.marker.options"
	                    events="map.marker.events" idkey="party._id">
	    	</ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>

<ul ng-show="canInvite()">
  Users to invite:
  <li ng-repeat="user in users | uninvited:party">
    <div>{{ user | displayName }}</div>
    <md-md-button ng-click="invite(user)">Invite</md-md-button>
  </li>
  <li ng-if="(users | uninvited:party).length <= 0">
    Everyone are already invited.
  </li>
</ul>

<md-button ng-click="save()">Save</md-button>
<md-button ng-click="reset()">Reset form</md-button>
<md-button><a href="/parties">Cancel</a></md-button>
