<div style="margin:1em;" ng-controller="CommentsListCtrl"
		 dir-paginate="comment in comments | itemsPerPage: perPage"
       total-items="partiesCount.count" layout="column" >
	<p>{{comment.text}}</p>
	<p><small>- Posted by {{ creator(comment) | displayName }}</small></p>
</div>