<md-dialog aria-label="About Creating Conversation" style="width:75%">
	<md-dialog-content>
		<div>
		<img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="bgs/ccFlyerTall.jpg">
		</div>
	</md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
    	OK
    </md-button>
  </div>
</md-dialog>