<div layout-margin id="main-content" style="">
	<div class="gridList">
		<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-lg="3" md-row-height="1:1"> 
			<md-grid-tile class="md-whiteframe-z1"
										ng-style="{'background-image': 'url(' + getMdImgUrl(img.url) + ')', 'background-repeat': 'no-repeat', 'background-size' : 'contain', 'background-position': 'center', 'background-color':'black'}"
										ng-repeat="img in photos"> 
			</md-grid-tile> 
		</md-grid-list>
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68377794-1', 'auto');
  ga('send', 'pageview');

</script>